@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.loginpage {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

.loginpage input,
.loginpage textarea,
.loginpage select {
  font-size: 0.8em;
  color: #666;
}

.loginpage p,
.loginpage h1,
.loginpage h2,
.loginpage h3,
.loginpage h4,
.loginpage h5,
.loginpage h6,
.loginpage ul {
  margin: 0;
}

.loginpage img {
  max-width: 100%;
}

.loginpage ul {
  padding-left: 0;
  margin-bottom: 0;
}

.loginpage a {
  text-decoration: none;
}

.loginpage :afocus {
  outline: none;
}

.loginpage .wrapper {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
    45deg,
    #02e1ba 0%,
    #26c9f2 29%,
    #d911f2 66%,
    #ffa079 100%
  );
}

.loginpage .inner {
  position: absolute;
  top: 50%;
  left: 11.07%;
  transform: translateY(-50%);
  width: 530px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #2525255a;
  padding: 7px;
}

.loginpage form {
  width: 100%;
  padding: 57px 46px 55px;
  background: rgba(22, 22, 22, 0.144);
  background-color: #ffffff;
}

.loginpage select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.loginpage h3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #3e91f7;
  letter-spacing: 3px;
  margin-bottom: 22px;
  font-weight: 600;
}
.loginpage p {
  color: #e7385e;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.loginpage .form-row {
  display: flex;
  margin-bottom: 25px;
}
.loginpage .form-row.last {
  margin-bottom: 22px;
}
.loginpage .form-row .form-wrapper {
  width: 100%;
}

.loginpage .form-wrapper {
  position: relative;
}
.loginpage .form-wrapper label {
  display: block;
  font-size: 17px;
  color: #4c4c4c;
  margin-bottom: 8px;
}

.loginpage .form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 14px;
  background-color: #e8ebef;
  border-radius: 0px;
  border: none;
}
.loginpage input:focus {
  box-shadow: none;
}
.signup-btn-l button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #489a8c;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
  font-size: 17px;
  font-weight: 500;
}
.signup-btn-l button span {
  letter-spacing: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.signup-btn-l button:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  opacity: 0;
  letter-spacing: 3px;
  -webkit-transform: translate(-30%, -25%);
  transform: translate(-30%, -25%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.signup-btn-l button:hover {
  background: #057e6a;
}
.signup-btn-l button:hover span {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}
.signup-btn-l button:hover:after {
  opacity: 1;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, -30%);
}
.login-btn-l button {
  border: none;
  width: 100%;
  height: 40px;
  margin-top: 0px;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #3e91f7;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
  font-size: 17px;
  font-weight: 500;
}
.login-btn-l button span {
  letter-spacing: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.login-btn-l button:after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;
  opacity: 0;
  letter-spacing: 3px;
  -webkit-transform: translate(-30%, -25%);
  transform: translate(-30%, -25%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.login-btn-l button:hover {
  background: #0072fd;
}
.login-btn-l button:hover span {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}
.login-btn-l button:hover:after {
  opacity: 1;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, -30%);
}

@media (max-width: 1199px) {
  .loginpage .wrapper {
    background-position: center center;
  }
}
@media (max-width: 991px) {
  .loginpage .inner {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .loginpage .inner {
    width: 100%;
    transform: translateY(0);
    position: static;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }

  .loginpage .wrapper {
    background: none;
    display: block;
  }

  .loginpage form {
    padding: 30px 20px;
  }

  .loginpage .form-row {
    display: block;
  }
  .loginpage .form-row .form-wrapper {
    width: 100%;
    margin-bottom: 25px;
  }
}
